:root {
  --styl-color: #434455;
  --background-color: #ffffff;
  --styl-colorr: #4d5ae5;
  --styl-colorrr: #2e2f42;
  --background-colorr: #f4f4fd;
  --background-colorrr: #2e2f42;
  --button-color: #e7e9fc;
}
.buttonn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--styl-colorr);
  background-color: var(--background-colorr);
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--styl-color);

  ul {
    list-style-type: none;
  }
  h1 {
    color: var(--WHITE, #fff);
    text-align: center;

    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
  }
}
.list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}
.top {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.hero {
  padding: 188px 0;
  background: var(--styl-colorrr);
}
.color {
  color: var(--styl-colorr);
}

.web {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
}
.webb {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--background-colorrr);
  padding: 100px 0;
}
.link {
  text-decoration: none;

  margin-bottom: 16px;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.linkk:hover {
  background-color: #404bbf;
}
.linkk:focus {
  background-color: #404bbf;
}
.linkkk:hover {
  color: #ffffff;
}
.linkkk:focus {
  color: #ffffff;
}
.studio {
  color: var(--styll-color, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studioo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
/* komentarz */
.button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.strategy {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.describtionss {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.doing {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.bak {
  background-color: #f4f4fd;
}
.bakk {
  background-color: #ffffff;
}
.team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  background-color: #f4f4fd;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;

  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  background-color: #ffffff;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.job {
  color: var(--SLATE, #434455);
  text-align: center;
  background-color: #ffffff;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.footer {
  color: var(--background-colorr);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.last {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--styl-colorrr);
}
.lastt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--styl-color);
  margin-bottom: 8px;
}
img {
  display: block;
}
.border-header-bottom {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
.logo {
  margin-right: 76px;
}
.container_menu {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.container_menuu {
  padding-top: 24px;
  padding-bottom: 24px;
}
.sectionn_ {
  display: flex;
  padding: 120px 0;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.calc {
  flex-basis: calc((100% - 72px) / 4);
}
.sectionnn_ {
  padding-bottom: 120px;
}
.calc_ {
  width: calc((100% - 3 * 16px) / 3);
}
.what {
  padding: 120px 0;
}
.bakk img {
  border-radius: 0px 0px 4px 4px;
}
.worker_ {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.nowa {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.bakk li {
  width: calc((100% - 72px) / 4);
}
.inline {
  display: inline-block;
}
img {
  display: block;
}
.calc_ li {
  width: calc((100% - 48px) / 3);
}
.container__ {
  display: inline-block;
}
.portfolio {
  padding: 96px 0 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio_up {
  justify-content: center;
}
.portfolio button {
  padding: 12px 24px;
  border: 1px solid var(--button-color);
  border-radius: 4px;
}
.portfolio button:hover {
  border: 1px solid transparent;
}
.portfolio button:focus {
  border: 1px solid transparent;
}
.last_list {
  flex-wrap: wrap;
  row-gap: 48px;
}
.test {
  width: calc((100% - 48px) / 3);
}
.end {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.containerr {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
.flex {
  display: flex;
  flex-direction: column;
}
.block {
  display: inline-block;
}
.divek {
  padding: 32px 16px;
}
.takietam {
  width: calc((100% - 48px) / 3);
}
.flex__ {
  display: flex;
}
